body {
  font-family: 'Lobster', cursive;
}

.legend {
	border: 1px solid #555555;
	border-radius: 5px 5px 5px 5px;
	font-size: 0.8em;
	margin: 10px;
	padding: 8px;        
}

.bld {
  font-weight: bold
}

img {
	margin: 0 auto;
	display: block;
}
